<html>
    <body>
        <a href="/">Back</a>
        <h1 style="text-align: center;">MakeOpenSource Terminal Workshop</h1>
        <h2>Resources</h2>
	    <ul>
            <li><a href="terminal/assets/using-the-unix-terminal.pdf">Presentation</a></li>
            <li><a href="terminal/assets/unix-cheatsheet.pdf">Unix Cheatsheet</a></li>
		<li><a href="https://missing.csail.mit.edu/">[MIT] The Missing Semester of Your CS Education</a></li>
	    </ul>
        <h2>Prerequisites</h2>
        <ul>
            <li>Attend "Introduction to the Unix Terminal"</li>
            <li>
                If you are using a Windows computer, 
                install <a href="https://www.chiark.greenend.org.uk/~sgtatham/putty/latest.html">PuTTY</a>
            </li>
        </ul>
        <h2>Instructions</h2>
        <h3>Part 1</h3>
        <ol>
            <li>List your current directory</li>
            <li>Print the location of your working directory</li>
            <li>Create a new directory called 'hello'</li>
            <li>Enter the 'hello' directory</li>
        </ol>
        <h3>Part 2</h3>
        <ol>
            <li>Create a file 'about-me.txt'</li>
            <li>Add your name to 'about-me.txt'</li>
            <li>Append a fun fact about you (on a newline) in 'about-me.txt'</li>
            <li>Print the contents of 'about-me.txt'</li>
            <li>Type the command <code>$ curl -F data="@about-me.txt" {{ domain }}</code></li>
        </ol>
        <h2>Submissions</h2>
        <div id="demo">
        </div>
        <script>
            function loadResponse() {
              const xhttp = new XMLHttpRequest();
              xhttp.onload = function() {
                document.getElementById("demo").innerHTML = this.responseText;
              }
              xhttp.open("GET", "/terminal/submissions");
              xhttp.send();
            }
            setInterval(loadResponse, 1000);
        </script>
    </body>
</html>
