<html>
    <body>
	<h1 style="text-align: center;">MakeOpenSource Terminal Workshop</h1>
	<h2>Resources</h2>
	    <ul>
		<li><a href="/using-the-unix-terminal.pdf">Presentation</a></li>
                <li><a href="https://bicknrown.com/private/mos/unixcheatsheet.pdf">Unix Cheatsheet</a></li>
		<li><a href="https://missing.csail.mit.edu/">[MIT] The Missing Semester of Your CS Education</a></li>
	    </ul>
        <h2>Prerequisites</h2>
        <ul>
            <li>Attend "Introduction to the Unix Terminal"</li>
            <li>Install <a href="https://hyper.is">hyper</a>. If you have 
                an existing unix-based terminal, go ahead and use that.
                If you don't know what that means, install Hyper.
            </li>
        </ul>
        <h2>Instructions</h2>
        <h3>Part 1</h3>
        <ol>
            <li>List your current directory</li>
            <li>Print the location of your working directory</li>
            <li>Create a new directory called 'hello'</li>
            <li>Enter the 'hello' directory</li>
        </ol>
        <h3>Part 2</h3>
        <ol>
            <li>Create a file 'about-me.txt'</li>
            <li>Add your name to 'about-me.txt'</li>
            <li>Append a fun fact about you (on a newline) in 'about-me.txt'</li>
            <li>Print the contents of 'about-me.txt'</li>
            <li>Type the command <code>$ curl -F data="@about-me.txt" https://workshop.makeopensource.org</code></li>
        </ol>
        <h2>Submissions</h2>
        <div id="demo">
        </div>
        <script>
            function loadResponse() {
              const xhttp = new XMLHttpRequest();
              xhttp.onload = function() {
                document.getElementById("demo").innerHTML = this.responseText;
              }
              xhttp.open("GET", "/submissions");
              xhttp.send();
            }
            setInterval(loadResponse, 1000);
        </script>
    </body>
</html>
