<!DOCTYPE html>

<html>

<body>
    <a href="/">Back</a>
    <h1 style="text-align: center;">MakeOpenSource Git Workshop</h1>
    <h2>Resources</h2>
    <ul>
        <li><a href="assets/introduction-to-git.pdf">Presentation</a></li>
        <li><a href="assets/git-cheatsheet.pdf">Git Cheatsheet</a></li>
    </ul>
    <h2>Prerequisites</h2>
    <ul>
        <li>
            If you are using Linux or MacOS, open a terminal. If you are using a Windows computer,
            install <a href="https://www.chiark.greenend.org.uk/~sgtatham/putty/latest.html">PuTTY</a>
            and open it
        </li>
        <li>Create a GitHub account</li>
        <li>Setup GitHub ssh key</li>
    </ul>
    <h2>Instructions</h2>
    <h3>Part 1 – Fork the Repo</h3>
    <ol>
        <li>Go to the
            <a href="{{ repo }}">github page</a>
            for this project
        </li>
        <li>Fork the repository</li>
        <li>Clone the fork</li>
        <li>Enter the forked repository</li>
    </ol>
    <h3>Part 2 – Edit the file</h3>
    <ol>
        <li>Open the file 'names.txt'</li>
        <li>At the end of 'names.txt', enter your name on a new line in the file</li>
        <li>Save the file</li>
    </ol>
    <h3>Part 3 – Make a Pull Request</h3>
    <ol>
        <li>Add, commit and push your changes to your forked repo</li>
        <li>Make a pull request to our <a href="{{ repo }}">repo</a></li>
    </ol>
    <h2>Submissions</h2>
    <div id="demo"></div>
    <script>
        function loadResponse() {
            const xhttp = new XMLHttpRequest();
            xhttp.onload = function () {
                const pulls = JSON.parse(this.responseText);
                const demo = document.getElementById("demo")
                demo.innerHTML = pulls.map((pull) => {
                    const title = pull['title'];
                    const login = pull["user"]["login"];
                    const link = pull["html_url"];
                    return `<p><b>${login}</b><br/><a href="${link}">${title}</a></p>`
                }).join("")
            }
            xhttp.open("GET", "{{ repo_api }}");
            xhttp.send();
        }
        setInterval(loadResponse, 1000);
    </script>
</body>

</html>
